body {
  font-family: 'Amiko', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  width: 20px;
  height: 20px;
  background-color: #f57121;
  border-radius: 50%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 40px;
}

h2 {
  text-align: center;
  margin: 0 0 48px 0;
  font-size: 48px;
  font-weight: bold;
  color: #51adcb;
}

h2 > span {
  color: #fb7626;
}

section {
  padding: 60px 0;
  background-color: #fff;
}

/* ---------- header ---------- */
.header {
  position: absolute;
  z-index: 10;
  top: 40px;
  width: 100%;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-left {
  margin-left: 20px;
}

.header-left__logo {
  width: 160px;
  padding-top: 20px;
}

.header-left__logo img {
  width: 100%;
}

.header-right {
  display: flex;
}

.header-right__sections {
  display: flex;
  margin-top: 10px;
}

.header-right__sections li {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
}

.header-right__sections li:nth-child(2) {
  background-color: #fb7626;
}

/* ---------- jumbotron ---------- */
.jumbotron {
  position: relative;
  height: 100vh;
  padding: 0;
}

.jumbotron-inner {
  background-color: #51adcb;  
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.jumbotron__content {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  padding: 0 40px;
}

.jumbotron__content-inner {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.jumbotron__content__text {
  color: #fff;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  opacity: 0;
}

.jumbotron__content__text > div {
  display: inline-block;
  min-width: 18px;
  padding-right: 4px;
  margin-bottom: 14px;
  border-right: 6px solid;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: #fb7626; }
}

.jumbotron__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

.jumbotron__scroll__text {
  position: absolute;
  left: -28px;
  font-size: 16px;
  font-weight: bold;
}

.jumbotron__scroll-inner {
  position: relative;
  width: 1px;
  height: 120px;
  margin: auto;
}

.jumbotron__scroll__bar-clip {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 80px;
  top: 40px;
  background-color: #efefef;
  margin: auto;
}

.jumbotron__scroll__bar {
  position: absolute;
  width: 1px;
  height: 80px;
  top: -80px;
  right: 0;
  background-color: #000;
  -webkit-animation: scroll-bar 2.5s cubic-bezier(.455,.03,.515,.955) infinite;
  animation: scroll-bar 2.5s cubic-bezier(.455,.03,.515,.955) infinite;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@keyframes scroll-bar {
  0%, 5% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,160px,0);
    transform: translate3d(0,160px,0);
  }
}

/* ---------- about ---------- */
.about__text {
  padding: 36px 48px 48px;
  box-sizing: border-box;
  max-width: 640px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #0e2830;
  line-height: 1.5;
}

/* ---------- spec ---------- */
.spec__content {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: auto;
  padding: 40px 40px 40px 60px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.5;
}

.spec__content__text {
  color: #0e2830;
  font-size: 20px;
}

.spec__content__text .highlight {
  color: #51adcb;
}

.spec__content__button a {
  background-color: #f57121;
  display: inline-block;
  padding: 16px 32px 14px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  transition: background-color .5s ease-out;
}

.spec__content__button a:hover {
  background-color: #e05400;
}

.spec__content__button .emoji {
  margin-left: 4px;
  vertical-align: text-top;
}

/* ---------- servicies ---------- */
.services__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.services__card {
  width: 21%;
  box-sizing: border-box;
  margin: 0 2% 48px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  /* box-shadow: 0 20px 80px -16px rgba(0,0,0,0.2); */
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.services__card:hover {
  /* box-shadow: 0 13px 90px -10px rgba(0,0,0,0.4); */
  box-shadow: 0 12px 40px -7px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -2px, 0);
}

.services__card a {
  display: inline-block;
  height: 120px;
  padding: 32px;
  box-sizing: border-box;
  line-height: 90px;
}

.services__card img {
  width: 100%;
}

/* ---------- footer ---------- */
.footer {
  line-height: 64px;
  color: #b1b1b1;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  font-size: 14px;
  font-weight: 300;
  padding-top: 8px;
  display: flex;
}

.footer-right__icons {
  display: flex;
}

.footer-right__icons li {
  margin: 0 14px;
}

.footer-right__icons img {
  width: 32px;
}

.footer-right__language-btn {
  color: #979797;
  border: 1px solid #b1b1b1;
  height: 30px;
  padding: 0 10px 0 8px;
  border-radius: 25px;
  margin-top: 2px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  line-height: normal;
}

.footer-right__language-btn img {
  width: 20px;
  vertical-align: sub;
  margin-top: 5px;
}

.footer-xs {
  display: none;
  color: #b1b1b1;
  text-align: center;
}

.footer-xs__language-btn {
  display: inline-block;
  color: #979797;
  border: 1px solid #b1b1b1;
  height: 30px;
  padding: 0 10px 0 8px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  line-height: normal;
  margin-bottom: 36px;
}

.footer-xs__language-btn img {
  width: 20px;
  vertical-align: sub;
  margin-top: 5px;
}

.footer-xs__language-btn img {
  width: 20px;
  vertical-align: sub;
  margin-top: 5px;
}

.footer-xs__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.footer-xs__icons li {
  margin: 0 14px;
}

.footer-xs__icons img {
  width: 32px;
}

.footer-xs__copy {
  font-size: 16px;
  margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
  h2 {
    margin-bottom: 36px;
    font-size: 40px;
  }

  .header-left {
    margin-left: 0;
  }

  .header-right__sections li {
    margin-left: 0;
  }

  .header-right__sections li:last-child {
    padding-right: 0;
  }

  .jumbotron__content__text {
    font-size: 24px;
  }

  .services__card {
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 26.33%;    
  }
  
  .services__card a {
    line-height: 75px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 28px;
    text-align: left;
    margin-bottom: 12px;
  }

  section {
    padding: 40px 0;
  }

  .scroll-button {
    display: none;
  }

  .header {
    padding: 0;
  }

  .header-left__logo {
    padding: 0;
  }

  .header-right {
    display: none;
  }

  .jumbotron-inner {
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
  }

  .jumbotron__content {
    padding: 0 20px;
  }

  .jumbotron__content__text {
    font-size: 18px;
  }

  .about {
    padding-top: 60px;
  }

  .about__text {
    padding: 20px 0;
  }

  .spec__content {
    display: block;
    padding: 32px 0 0;
  }

  .spec__content__button {
    text-align: right;
    margin-top: 20px;
  }

  .spec__content__button a {
    font-size: 19px;
    padding: 18px 16px 16px 18px;
  }

  .services {
    padding-bottom: 0px;
  }

  .services__card {
    width: 47%;
    justify-content: space-between;
    margin: 0 0 36px;
  }

  .services__card:nth-child(2n) {
    margin-left: 6%;
  }

  .footer {
    display: none;
  }

  .footer-xs {
    display: block;
  }
}