body {
  font-family: 'Amiko', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  width: 20px;
  height: 20px;
  background-color: #f57121;
  border-radius: 50%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  text-align: center;
  margin: 0 0 48px 0;
  font-size: 48px;
  font-weight: bold;
  color: #51adcb;
}

h2 > span {
  color: #fb7626;
}

section {
  padding: 60px 0;
  background-color: #fff;
}

/* ---------- header ---------- */
.header {
  position: absolute;
  z-index: 10;
  top: 40px;
  width: 100%;
  color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-left__logo {
  width: 160px;
  padding-top: 20px;
}

.header-left__logo img {
  width: 100%;
}

.header-right {
  display: flex;
}

.header-right__sections {
  display: flex;
  margin-top: 10px;
}

.header-right__sections li {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
}

.header-right__sections li:nth-child(2) {
  background-color: #fb7626;
}

/* ---------- jumbotron ---------- */
.jumbotron {
  position: relative;
  height: 100vh;
  padding: 0;
}

.jumbotron-inner {
  background-color: #51adcb;  
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.jumbotron__content {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
}

.jumbotron__content-inner {
  max-width: 900px;
  margin: 0 auto;
}

.jumbotron__content__catchphrase {
  color: #fff;
  font-size: 28px;
  line-height: 1.6;
  font-weight: bold;
}

.jumbotron__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}

.jumbotron__scroll__text {
  position: absolute;
  left: -28px;
  font-size: 16px;
  font-weight: bold;
}

.jumbotron__scroll-inner {
  position: relative;
  width: 1px;
  height: 120px;
  margin: auto;
}

.jumbotron__scroll__bar-clip {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 80px;
  top: 40px;
  background-color: #efefef;
  margin: auto;
}

.jumbotron__scroll__bar {
  position: absolute;
  width: 1px;
  height: 80px;
  top: -80px;
  right: 0;
  background-color: #000;
  -webkit-animation: scroll-bar 2.5s cubic-bezier(.455,.03,.515,.955) infinite;
  animation: scroll-bar 2.5s cubic-bezier(.455,.03,.515,.955) infinite;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@keyframes scroll-bar {
  0%, 5% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,160px,0);
    transform: translate3d(0,160px,0);
  }
}

/* ---------- about ---------- */
.about__text {
  padding: 36px 48px 48px;
  box-sizing: border-box;
  max-width: 640px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #0e2830;
  line-height: 1.5;
}

/* ---------- spec ---------- */
.spec__content {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: auto;
  padding: 40px 40px 40px 60px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.5;
}

.spec__content__text {
  color: #0e2830;
  font-size: 20px;
}

.spec__content__text .highlight {
  color: #51adcb;
}

.spec__content__button a {
  background-color: #f57121;
  display: inline-block;
  padding: 16px 32px 14px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 40px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  transition: background-color .5s ease-out;
}

.spec__content__button a:hover {
  background-color: #e05400;
}

.spec__content__button .emoji {
  margin-left: 4px;
  vertical-align: text-top;
}

/* ---------- servicies ---------- */
.services__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.services__card {
  width: 21%;
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 48px;
  border-radius: 5px;
  /* box-shadow: 0 20px 80px -16px rgba(0,0,0,0.2); */
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.services__card:hover {
  /* box-shadow: 0 13px 90px -10px rgba(0,0,0,0.4); */
  box-shadow: 0 12px 40px -7px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -2px, 0);
}

.services__card a {
  display: inline-block;
  height: 120px;
  padding: 32px;
  box-sizing: border-box;
  line-height: 90px;
}

.services__card img {
  width: 100%;
}

/* ---------- footer ---------- */
.footer {
  line-height: 64px;
  color: #b1b1b1;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  font-size: 14px;
  font-weight: 300;
  padding-top: 8px;
  display: flex;
}

.footer-right__icons {
  display: flex;
}

.footer-right__icons li {
  margin: 0 14px;
}

.footer-right__icons img {
  width: 32px;
}

.footer-right__language-btn {
  color: #979797;
  border: 1px solid #b1b1b1;
  height: 30px;
  padding: 0 10px 0 8px;
  border-radius: 25px;
  margin-top: 2px;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  line-height: normal;
}

.footer-right__language-btn img {
  width: 20px;
  vertical-align: sub;
  margin-top: 5px;
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 600px) {
}